<div class="card text-white bg-info my-3" style="max-width: 35rem;">
    <div class="card-header">{{client.nomeContatto}} {{client.cognomeContatto}}</div>
    <div class="card-body">
        <h5 class="card-title">Partita IVA: {{client.partitaIva}}</h5>
        <p class="card-text">id: {{client.id}}</p>
        <p class="card-text">RagioneSociale: {{client.ragioneSociale}}</p>
        <p class="card-text">TipoCliente:{{client.tipoCliente}}</p>
        <p class="card-text">Email: {{client.email}}</p>
        <p class="card-text">Pec: {{client.pec}}</p>
        <p class="card-text">Telefono: {{client.telefono}}</p>
        <p class="card-text">Email Contatto:{{client.emailContatto}}</p>
        <p class="card-text">Indirizzo Sede Operativa:</p>
        <ul>
            <li>via: {{client.indirizzoSedeOperativa.via}}</li>
            <li>Civico: {{client.indirizzoSedeOperativa.civico}}</li>
            <li>Cap: {{client.indirizzoSedeOperativa.cap}}</li>
            <li>Località: {{client.indirizzoSedeOperativa.localita}}</li>
            <ul>
                <b>Comune</b>
                <li>Nome: {{client.indirizzoSedeOperativa.comune.nome}}</li>
                <li>Provincia:{{client.indirizzoSedeOperativa.comune.provincia.nome}}</li>
            </ul>
        </ul>
        <p class="card-text">indirizzo Sede Legale:</p>
        <ul>
            <li>Via: {{client.indirizzoSedeLegale.via}}</li>
            <li>Civico:{{client.indirizzoSedeLegale.civico}}</li>
            <li>Cap: {{client.indirizzoSedeLegale.cap}}</li>
            <li>Località: {{client.indirizzoSedeLegale.localita}}</li>
            <ul>
                <b>Comune</b>
                <li>Nome:{{client.indirizzoSedeLegale.comune.nome}}</li>
                <li>Provincia:{{client.indirizzoSedeOperativa.comune.provincia.nome}}</li>
            </ul>
        </ul>
        <p class="card-text">Data Inserimento:{{client.dataInserimento}}</p>
        <p class="card-text">Data Ultimo Contatto:{{client.dataUltimoContatto}}</p>
        <p class="card-text">Fatturato Annuale:{{client.fatturatoAnnuale}}</p>
        <button type="button" class="btn btn-dark form-control" (click)="editClient(client)">GO TO EDIT</button>

    </div>
</div>