<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Name: Lastname:</div>
    <div class="card-body">
        <h5 class="card-title">Partita IVA:</h5>
        <p class="card-text">id:</p>
        <p class="card-text">RagioneSociale:</p>
        <p class="card-text">TipoCliente:</p>
        <p class="card-text">Email:</p>
        <p class="card-text">Pec:</p>
        <p class="card-text">Telefono:</p>
        <p class="card-text">Email Contatto:</p>
        <p class="card-text">Indirizzo Sede Operativa:</p>
        <p class="card-text">indirizzo Sede Legale:</p>
        <p class="card-text">Data Inserimento:</p>
        <p class="card-text">Data Ultimo Contatto</p>
        <p class="card-text">Fatturato Annuale</p>

    </div>
</div>


}