<form class="my-4">
    <div class="form-row">
        <div class="form-group col-md-6 ">
            <label for="nomeComune">Nome del comune:</label>
            <input type="text" name="nomeComune" class="form-control">
        </div>
    </div>

    <div class="form-group col-md-6">
        <label for="tipo">Provincia:</label>
        <select class="p-2" name="tipo">
            <option>

            </option>
        </select>
    </div>
    <div class="form-group my-4">
        <button type="button" class="btn btn-dark">Aggiungi il nuovo comune!</button>
    </div>
</form>