<h3 class="text center"> Aggiungi una nuova fattura</h3>
<form>
    <div class="mb-3">
        <label class="form-label">Numero Fattura</label>
        <input type="text" [(ngModel)]="fattura.numero" name="numero_fattura" class="form-control" placeholder="Es: 0">
    </div>
    <div class="mb-3">
        <label class="form-label">Anno Fattura</label>
        <input type="text" [(ngModel)]="fattura.anno" name="anno_fattura" class="form-control" placeholder="Es: 2000">
    </div>
    <div class="mb-3">
        <label class="form-label">Importo</label>
        <input type="text" [(ngModel)]="fattura.importo" name="importo_fattura" class="form-control"
            placeholder="Es: 1692.16">
    </div>
    <h4>Stato</h4>
    <div class="mb-3">
        <label class="form-label">Stato fattura</label>
        <select name="tipoCliente" class="mx-3">
            <option>Pagata</option>
            <option>Non pagata</option>
        </select>
    </div>

    <button type="button" class="form-control btn btn-secondary" (click)="addNewFattura()">Aggiungi</button>

</form>