<h3 class="text center"> Aggiungi una nuova fattura</h3>
<form>
    <div class="mb-3">
        <label class="form-label">Numero Fattura</label>
        <input type="text" [(ngModel)]="fattura.numero" name="numero_fattura" class="form-control" placeholder="Es: 0">
    </div>
    <div class="mb-3">
        <label class="form-label">Anno Fattura</label>
        <input type="text" [(ngModel)]="fattura.anno" name="anno_fattura" class="form-control" placeholder="Es: 2000">
    </div>
    <div class="mb-3">
        <label class="form-label">Importo</label>
        <input type="text" [(ngModel)]="fattura.importo" name="importo_fattura" class="form-control"
            placeholder="Es: 1692.16">
    </div>
    <div class="form-group col-md-6">
        <label for="tipo">Stato:</label>
        <select class="p-2" [(ngModel)]="stato" name="tipo" [ngModelOptions]="{standalone: true}">
            <option [ngValue]="item" *ngFor="let item of statOfattura">
                {{item.nome}}
            </option>
        </select>
    </div>

    <button type="button" class="form-control btn btn-secondary" (click)="addNewFattura()">Aggiungi</button>

</form>