<h3 class="text center"> Aggiungi una nuova fattura</h3>
<form>
    <div class="mb-3">
        <label class="form-label">Numero Fattura</label>
        <input type="text" name="numero_fattura" class="form-control" placeholder="Es: 0">
    </div>
    <div class="mb-3">
        <label class="form-label">Anno Fattura</label>
        <input type="text" name="anno_fattura" class="form-control" placeholder="Es: 2000">
    </div>
    <div class="mb-3">
        <label class="form-label">Importo</label>
        <input type="text" name="importo_fattura" class="form-control" placeholder="Es: 1692.16">
    </div>
    <h4>Stato</h4>
    <div class="mb-3">
        <label class="form-label">Stato fattura</label>
        <select name="tipoCliente" class="mx-3">
            <option></option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Tipo Cliente</label>
        <select name="tipoCliente" class="mx-3">
            <option [></option>
        </select>
        <button type="button" class="form-control btn btn-secondary" (click)="addNewFattura()">Aggiungi</button>
    </div>