<h3 class="text center"> Edit your fattura</h3>
<form>
    <div class="mb-3">
        <label class="form-label">Data</label>
        <input type="text" [(ngModel)]="fattura.data" name="data_fattura" class="form-control"
            placeholder="Es: 2019-07-31T16:09:43.763+00:00">
    </div>
    <div class="mb-3">
        <label class="form-label">Numero</label>
        <input type="text" [(ngModel)]="fattura.numero" name="numero_fattura" class="form-control" placeholder="Es: 0">
    </div>
    <div class="mb-3">
        <label class="form-label">Anno</label>
        <input type="text" [(ngModel)]="fattura.anno" name="anno_fattura" class="form-control" placeholder="Es: 2000">
    </div>
    <div class="mb-3">
        <label class="form-label">Importo</label>
        <input type="text" [(ngModel)]="fattura.importo" name="importo_fattura" class="form-control"
            placeholder="Es: 1692.16">
    </div>
    <h3>Stato</h3>
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" name="importo" class="form-control" placeholder="Es: 1692.16">
    </div>
    <button type="button" class="btn btn-dark form-control" (click)="updateFattura(fattura)"></button>
</form>