<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <!--nomecontatto-->
            <th scope="col">Lastname</th>
            <!--cognomecontatto-->
            <th scope="col">Phone</th>
            <!--telefono-->
            <th scope="col">Email</th>
            <!--emailContatto-->
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of client; index as i;">
            <th scope="row">{{item.id}}</th>
            <td>{{item.nomeContatto}}</td>
            <td>{{item.cognomeContatto}}</td>
            <td>{{item.telefono}}</td>
            <td>{{item.emailContatto}}</td>
            <td>
                <button type="button" class="btn btn-secondary btn-sm" (click)="detailClient(item)">Details</button>
            </td>
            <td>
                <button type="button" class="btn btn-secondary btn-sm">Remove</button>
            </td>
        </tr>
    </tbody>
</table>