<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <!--nomecontatto-->
            <th scope="col">Lastname</th>
            <!--cognomecontatto-->
            <th scope="col">Phone</th>
            <!--telefono-->
            <th scope="col">Email</th>
            <!--emailContatto-->
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button type="button" class="btn btn-secondary btn-sm">i</button>
            </td>
        </tr>
    </tbody>
</table>