<div class="container-fluid ">
    <div class="row bg-dark py-4">
        <div class="col-lg-2"></div>

        <div clas="col col-lg-3"><a class="text-light" href="#" [routerLink]="['']">
                <h3 class="p-3 ">Final Project</h3>
            </a>
        </div>
        <div class="col col-lg-7 pr-0">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark justify-content-end pr-3">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="menu">
                    <ul class="navbar-nav float-left">
                        <li class="nav-item">
                            <a href="#" [routerLink]="['']" class="nav-link active">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" [routerLink]="['/Clients']">Clienti</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" [routerLink]="['/AddClient']">Add client</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" [routerLink]="['/Fatture']">Fatture</a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link" [routerLink]="['/AddProvincia']">Add Provincia</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>