<div class="my-3">
    <h3 class="text-center">Aggiungi un nuovo cliente</h3>
    <form>
        <div class="mb-3">
            <label class="form-label">Nome Cliente</label>
            <input type="text" [(ngModel)]="client.nomeContatto" name="nome" class="form-control"
                placeholder="Es: Mario">
        </div>
        <div class="mb-3">
            <label class="form-label">Cognome Cliente</label>
            <input type="text" [(ngModel)]="client.cognomeContatto" name="cognome" class="form-control"
                placeholder="Es: Rossi">
        </div>
        <div class="mb-3">
            <label class="form-label">Telefono Cliente</label>
            <input type="text" [(ngModel)]="client.telefonoContatto" name="telefono" class="form-control"
                placeholder="Es: (+39)1234567890">
        </div>
        <div class="mb-3">
            <label class="form-label">Email Cliente</label>
            <input type="text" [(ngModel)]="client.emailContatto" name="email" class="form-control"
                placeholder="Es: mariorossi@gmail.com">
        </div>
        <div class="mb-3">
            <label class="form-label">Ragine Sociale </label>
            <input type="text" [(ngModel)]="client.ragioneSociale" name="ragineSociale" class="form-control"
                placeholder="Es: Fattura-Prova SRL">
        </div>
        <div class="mb-3">
            <label class="form-label">Partita IVA</label>
            <input type="text" [(ngModel)]="client.partitaIva" name="partitaIva" class="form-control"
                placeholder="Es: 123456">
        </div>
        <div class="mb-3">
            <label class="form-label">Tipo Cliente</label>
            <select [(ngModel)]="client.tipoCliente" name="tipoCliente" class="mx-3">
                <option [ngValue]="item" *ngFor="let item of tipoCliente">{{item}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" [(ngModel)]="client.email" name="email" class="form-control"
                placeholder="Es: fattura@gmail.com">
        </div>
        <div class="mb-3">
            <label class="form-label">PEC</label>
            <input type="text" [(ngModel)]="client.pec" name="pec" class="form-control"
                placeholder="Es: fattura@pec.it">
        </div>
        <div class="mb-3">
            <label class="form-label">Telefono</label>
            <input type="text" [(ngModel)]="client.telefono" name="telefono" class="form-control"
                placeholder="Es: (+39)1122334455">
        </div>
        <div class="mb-3">
            <h4>Sede Operativa</h4>
            <div class="row ">
                <div class="col-sm">
                    <label class="form-label">Via</label>
                    <input type="text" [(ngModel)]="client.indirizzoSedeOperativa.via"
                        name="via_indirizzo_sede_operativa" class="form-control" placeholder="Via">
                </div>


                <div class="col-sm">
                    <label class="form-label">N. civico</label>
                    <input type="text" [(ngModel)]="client.indirizzoSedeOperativa.civico" name="civico"
                        class="form-control" placeholder="n">
                </div>
                <div class="col-sm">
                    <label class="form-label">CAP</label>
                    <input type="text" [(ngModel)]="client.indirizzoSedeOperativa.cap" name="cap" class="form-control"
                        placeholder="CAP">
                </div>
                <div class="col-sm">
                    <label class="form-label">Località</label>
                    <input type="text" [(ngModel)]="client.indirizzoSedeOperativa.localita" name="localita"
                        class="form-control" placeholder="Loc">
                </div>
                <div class="col-sm">
                    <label class="form-label">Comune</label>
                    <select class="form-select" [(ngModel)]="client.indirizzoSedeOperativa.comune"
                        name="nome_comune_SedeOperativa" class="mx-3">
                        <option [ngValue]="item" *ngFor="let item of comuni">{{item.nome}}</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <h4 class="mt-3">Sede Legale</h4>
                <div class="row ">
                    <div class="col-sm">
                        <label class="form-label">Via</label>
                        <input type="text" [(ngModel)]="client.indirizzoSedeLegale.via" name="via" class="form-control"
                            placeholder="Via">
                    </div>
                    <div class="col-sm">
                        <label class="form-label">N. civico</label>
                        <input type="text" [(ngModel)]="client.indirizzoSedeLegale.civico" name="civico"
                            class="form-control" placeholder="n">
                    </div>
                    <div class="col-sm">
                        <label class="form-label">CAP</label>
                        <input type="text" [(ngModel)]="client.indirizzoSedeLegale.cap" name="cap" class="form-control"
                            placeholder="CAP">
                    </div>
                    <div class="col-sm">
                        <label class="form-label">Località</label>
                        <input type="text" [(ngModel)]="client.indirizzoSedeLegale.localita" name="localita"
                            class="form-control" placeholder="Loc">
                    </div>
                    <div class="col-sm">
                        <label class="form-label">Comune</label>
                        <select class="form-select" [(ngModel)]="client.indirizzoSedeLegale.comune"
                            name="nome_comune_SedeLegale" class="mx-3">
                            <option [ngValue]="item" *ngFor="let item of comuni">{{item.nome}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Data Inserimento</label>
                <input type="text" [(ngModel)]="client.dataInserimento" name="nome" class="form-control"
                    placeholder="Es: 2019-06-01T08:11:01.911+00:00">
            </div>

            <button type="button" class="btn btn-dark form-control" (click)="Save()">Save edit</button>
        </div>
    </form>
</div>